# 작업형1 예시문제
자동차 데이터 셋에서 qsec 컬럼을 Min-Max Scale로 변환 후 0.5보다 큰 값을 가지는 레코드(row) 수를 묻는 문제입니다.
- data 출처: https://www.kaggle.com/ruiromanini/mtcars
- data 추가방법 : 우측 메뉴 -> +Add data -> mtcar(ruiromanini) ADD
- 영상 링크 : https://youtu.be/E86QFVXPm5Q

In [1]:
#EDA
import pandas as pd
data = pd.read_csv('../input/mtcars/mtcars.csv')
data

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

### 방법1

In [2]:
# 라이브러리 불러오기
import pandas as pd
from sklearn.preprocessing import minmax_scale

# 데이터 불러오기
data = pd.read_csv('../input/mtcars/mtcars.csv')
print('minmax 변환 전: \n',data['qsec'].head())

# min-max scale
data['qsec'] = minmax_scale(data['qsec'])
print('minmax 변환 후: \n',data['qsec'].head())

# 0.5보다 큰 값 / 방법1,2 중에 선택
print(sum(data['qsec'] > 0.5)) #방법1 (True를 더 함)
print(len(data[data['qsec']>0.5])) #방법2 (데이터 수를 구함)

minmax 변환 전:
 0    16.46
1    17.02
2    18.61
3    19.44
4    17.02
Name: qsec, dtype: float64
minmax 변환 후:
 0    0.233333
1    0.300000
2    0.489286
3    0.588095
4    0.300000
Name: qsec, dtype: float64
9
9

### 방법2

In [3]:
# 라이브러리 불러오기
import pandas as pd

# 데이터 불러오기
data = pd.read_csv('../input/mtcars/mtcars.csv')
print('minmax 변환 전: \n',data['qsec'].head())

# min-max scale
def minmax(data):
    data = (data - min(data)) / (max(data) - min(data))
    return data

data['qsec'] = minmax(data['qsec'])
print('minmax 변환 후: \n',data['qsec'].head())

# 0.5보다 큰 값 (row 수 파악)
print(len(data[data['qsec']>0.5]))

minmax 변환 전:
 0    16.46
1    17.02
2    18.61
3    19.44
4    17.02
Name: qsec, dtype: float64
minmax 변환 후:
 0    0.233333
1    0.300000
2    0.489286
3    0.588095
4    0.300000
Name: qsec, dtype: float64
9